*
{
    box-sizing: border-box;
}

body
{
    height: 100%;
    background-color: hsl(210,11%,12%);
    overflow: hidden;
    margin: 0px;
}

iframe
{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
}

layr
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
}

wrap
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
}


.center
{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}

.middle
{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.cenmid
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#backDrop
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./bodyFill.png");
    overflow: hidden;
}



@media (orientation: landscape)
{
    #backAnim
    {
        width: 100%;
        height: auto;
    }

    #animBack
    {
        width: 100%;
        height: auto;
    }

    #bootSplash
    {
        width: auto;
        height: 100%;
    }
}

@media (orientation: portrait)
{
    #backAnim
    {
        width: auto;
        height: 100%;
    }
    #animBack
    {
        width: auto;
        height: 100%;
    }

    #bootSplash
    {
        width: 100%;
        height: auto;
    }
}
